@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Layout base */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #f6f7fb;
}

/* Contenedor consistente */
.page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}
