<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="brand">
      <span class="material-icons">bug_report</span>
      <strong>IssueTracker</strong>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/projects">
        <span class="material-icons">folder</span>
        <span style="margin-left: 10px;">Projects</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>IssueTracker</span>
      <span class="spacer"></span>
      <a mat-button routerLink="/projects">Projects</a>
    </mat-toolbar>

    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
